force-app/main/default/flows/Customer_Identity_Verification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PopulateCallerList</name>
        <label>PopulateCallerList</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>GetRecordIdSet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Customer_Verification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <elementReference>CallerRecordFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>CallerRecordObject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CallerRecordIdList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CallerRecordFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Process_Object.Field_Relationship_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallerRecordFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPrimaryObject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCallerRecordObject</name>
        <label>AssignCallerRecordObject</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CallerRecordObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Process_Object.Object_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Process_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Verification_Results</name>
        <label>Set Verification Results</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>VerificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationVariant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variant</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <description>Stores the choice for a miscellaneous reason in ScreenSelectCallReason.</description>
        <name>MiscellaneousReasonChoice</name>
        <choiceText>{!MiscellaneousReasonChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MiscellaneousReasonChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for password reset in ScreenSelectCallReason.</description>
        <name>PasswordResetChoice</name>
        <choiceText>{!PasswordResetChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PasswordResetChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for request product information in ScreenSelectCallReason.</description>
        <name>RequestProductInfoChoice</name>
        <choiceText>{!RequestProductInfoChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RequestProductInfoChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for caller in ScreenWhoIsTheCallAbout.</description>
        <name>SelfChoice</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for someone else in ScreenWhoIsTheCallAbout.</description>
        <name>SomeoneElseChoice</name>
        <choiceText>Someone Else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone Else</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for technical issues in ScreenSelectCallReason.</description>
        <name>TechnicalIssuesChoice</name>
        <choiceText>{!TechnicalIssuesChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TechnicalIssuesChoiceLabel</elementReference>
        </value>
    </choices>
    <constants>
        <name>AdditionalVerifierHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsCallReasons screen component.</description>
        <name>CallReasonRadioButtonsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What is the reason for this engagement?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Comma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>,</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the primary message displayed to the user by  ComponentDisplaySecondarySearchMessage on  ScreenDisplaySecondarySearchMessage.</description>
        <name>ContinueToSecondarySearchMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Click Next to search for the linked customer.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the dissatisfied with product choice.</description>
        <name>DissatisfiedWithProductChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissatisfied with product</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the name of the default process detail that&apos;s used for the customer search. Customize the SampleAccountSearch detail. Or create your own detail and enter its name as the constant&apos;s value.</description>
        <name>IdVerfProcessDetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>C1_Verify_Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the miscellaneous reason choice.</description>
        <name>MiscellaneousReasonChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the password reset choice.</description>
        <name>PasswordResetChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Password reset</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the request product information choice.</description>
        <name>RequestProductInfoChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request product information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the heading for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Required Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instruction for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify all the fields.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the technical issues choice.</description>
        <name>TechnicalIssuesChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical issues</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message shown on ScreenDisplayVerificationNotRequiredMessage.</description>
        <name>VerificationNotRequiredMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The selected reason doesn&apos;t require identity verification. Continue to process the customer&apos;s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message indicating that the caller’s identity was verified.</description>
        <name>VerificationSucceededMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The caller’s identity was verified. Continue processing the caller’s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsWhoIsCaller screen component.</description>
        <name>WhoIsCallerRadioButtonLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Who is this engagement about?</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckPrimaryObject</name>
        <label>CheckPrimaryObject</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Process_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Process_Object.Is_Primary_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCallerRecordObject</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a record ID was passed into the flow.</description>
        <name>HaveRecordId</name>
        <label>Have Record ID?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayNoRecordMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIdVerfProcessObject</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Overriden Version of FSC Verify Customer Identity Flow, with the feature to add multiple objects in a screen for verification. This can be done via metadata configuration</description>
    <environments>Default</environments>
    <formulas>
        <name>Message</name>
        <dataType>String</dataType>
        <expression>IF({!VerificationStatus},{!Verification_Success_Label} ,{!Verification_Failure_Label} )</expression>
    </formulas>
    <formulas>
        <name>NoRecordFound</name>
        <dataType>String</dataType>
        <expression>{!$Label.No_Record_Message}</expression>
    </formulas>
    <formulas>
        <name>Variant</name>
        <dataType>String</dataType>
        <expression>IF({!VerificationStatus}, &quot;success&quot;, &quot;error&quot;)</expression>
    </formulas>
    <formulas>
        <name>Verification_Failure_Label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Not_Verified_Customer}</expression>
    </formulas>
    <formulas>
        <name>Verification_Success_Label</name>
        <dataType>String</dataType>
        <expression>{!$Label.Verification_Completed}</expression>
    </formulas>
    <formulas>
        <name>VerificationFailureStatus</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!VerificationStatus})</expression>
    </formulas>
    <interviewLabel>Customer_Identity_Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Identity Verification Flow</label>
    <loops>
        <name>Loop_Process_Object</name>
        <label>Loop Process Object</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>GetIdVerfProcessObject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PopulateCallerList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetIdVerfProcessObject</name>
        <label>GetIdVerfProcessObject</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Process_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Identity_Verf_Process_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Identity_Verf_Object_Details__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Primary_Object__c</queriedFields>
        <queriedFields>Object_Name__c</queriedFields>
        <queriedFields>Object_Value__c</queriedFields>
        <queriedFields>Field_Relationship_Name__c</queriedFields>
        <queriedFields>Identity_Verf_Process_Definition__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Displays a message to the user indicating that a record ID wasn&apos;t passed into the flow.</description>
        <name>ScreenDisplayNoRecordMessage</name>
        <label>Display No Record Message</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>messageDisplayer</name>
            <extensionName>c:messageDisplayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>NoRecordFound</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_se__idv</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Customer_Verification</name>
        <label>Get Customer Verification</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Set_Verification_Results</targetReference>
        </connector>
        <flowName>Verify_Customer</flowName>
        <inputAssignments>
            <name>AdditionalAuthenticationHeader</name>
            <value>
                <elementReference>AdditionalSectionHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AdditionalVerificationInfo</name>
            <value>
                <elementReference>AdditionalVerifiersUserInstruction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CallerRecordIdList</name>
            <value>
                <elementReference>CallerRecordIdList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdVerfProcessDefinition</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredAuthenticationHeader</name>
            <value>
                <elementReference>RequiredSectionHeader</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredAuthenticationInfo</name>
            <value>
                <elementReference>RequiredVerifiersUserInstruction</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VerificationStatus</assignToReference>
            <name>VerificationStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AdditionalSectionHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AdditionalVerifierHeading</elementReference>
        </value>
    </variables>
    <variables>
        <name>AdditionalVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the customer initiating the engagement.</description>
        <name>AttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerAbout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the customer name to be displayed in ScreenDisplaySuccessMessage or ScreenSecondarySearch.</description>
        <name>CallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the caller&apos;s object passed into the flow.</description>
        <name>callerObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRecordFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the caller passed into the flow.</description>
        <name>callerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRecordIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRecordListId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRecordObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores details about the current engagement attendee, including the engagement attendee ID, the engagement interaction record ID, and the initiating attendee ID.</description>
        <name>CurrentEngagementAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementAttendee</objectType>
    </variables>
    <variables>
        <name>EngagementInteractionPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0u3</stringValue>
        </value>
    </variables>
    <variables>
        <name>FinalProcessDetails</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalSelectedPrimayVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a Boolean value indicating whether search results were found. It&apos;s set to True if search results are returned by ComponentSearchResults in ScreenSearchResults.</description>
        <name>HasSearchResults</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HideAuthFlowOption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the identity verification process definition record. You can customize the SampleVerifiationFlow definition. You can also create your own definition and enter its name in place of SampleVerificationFlow.</description>
        <name>IdVerfProcessDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>C1_Authenticate_Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>IVerfContactId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IVerfEngagementInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementInteraction</objectType>
    </variables>
    <variables>
        <name>IVerfProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdentityVerificationProcDef</objectType>
    </variables>
    <variables>
        <name>IVerfProcessDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdentityVerificationProcDtl</objectType>
    </variables>
    <variables>
        <description>Stores the keywords specified by the flow user for the customer search.</description>
        <name>Keywords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the current process detail. If necessary, used to do a secondary identity verification. Default value is Agent.</description>
        <name>LinkedProcessDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </variables>
    <variables>
        <name>NavigateObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_ProcessDetail records, containing a list of process details used for verification.</description>
        <name>ProcessDetailCollection</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessDetailsList</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessDetailsLoop</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the record.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredSectionHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RequiredVerifiersHeading</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the search type selected by the flow user for the customer search.</description>
        <name>SearchType</name>
        <apexClass>id_verification__SearchFilters</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an Apex id_verification_VerificationContext record, containing the secondary verification context that was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>SecondaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Apex id_verifiation_VerficationContext record,  containing the verification context found using the keywords and search type for the customer search, which was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>SelectedPrimaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores anApex id_verification_SelectedVerifiedResult record, containing the verified result of the primary search.</description>
        <name>SelectedVerifiedResult</name>
        <apexClass>id_verification__SelectedVerifiedResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationProcessFieldList</name>
        <apexClass>id_verification__VerificationProcessField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the status of the verification.</description>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VerificationVariant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_VerifiedDetails records, containing a list of process details that were used to verify the SelectedVerifiedResult.</description>
        <name>VerifiedDetailsCollection</name>
        <apexClass>id_verification__VerifiedDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VoiceCallPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0LQ</stringValue>
        </value>
    </variables>
</Flow>
