force-app/main/default/flows/Verify_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action to build an identity verification context using the specified identity verification process definition and identity verification process detail for the callerObjectName record with an ID that equals callerRecordId. Stores the result in the selectedPrimaryVerificationContext variable.</description>
        <name>Build_Identity_Verification_Context_Concat</name>
        <label>Build Identity Verification Context Concat</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <actionName>buildIdentityVerification</actionName>
        <actionType>buildIdentityVerification</actionType>
        <connector>
            <targetReference>Query_Verification_Data_Concat</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Verification_Context</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionName</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDetailName</name>
            <value>
                <elementReference>Iterate_Process_Details_List.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>callerObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedRecordId</name>
            <value>
                <elementReference>callerRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an invocable action to get verification data for selectedPrimaryVerificationContext and adds the results to selectedPrimaryVerificationContext.</description>
        <name>Query_Verification_Data_Concat</name>
        <label>Query Verification Data Concat</label>
        <locationX>270</locationX>
        <locationY>1922</locationY>
        <actionName>getVerificationData</actionName>
        <actionType>getVerificationData</actionType>
        <connector>
            <targetReference>Is_Primary_Process_Detail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Verification_Context</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>SelectedPrimaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
            <name>verificationContext</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Caller_Record_Id</name>
        <label>Assign Caller Record Id</label>
        <locationX>358</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>callerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_CF_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_CF_Record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Caller_Record_Prefix</name>
        <label>Assign Caller Record Prefix</label>
        <locationX>776</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>callerObjectPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_CF_Object_Prefix.Object_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_CF_Object_Prefix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Process_Details</name>
        <label>Assign Final Process Details</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>FinalProcessDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProcessDetailsLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalSelectedPrimayVerificationContext.processDefinition.processDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalProcessDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenVerifyCallerIdentity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Details</name>
        <label>Assign Process Details</label>
        <locationX>138</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>VerificationProcessFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Process_Details.verificationProcessFieldList.verificationProcessFields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessDetailsLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Process_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessDetailsLoop.verificationProcessFieldList.verificationProcessFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerificationProcessFieldList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Process_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Verification_Status_as_False</name>
        <label>Assign Verification Status as False</label>
        <locationX>336</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>VerificationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_Other_Process_Details</name>
        <label>Assignment Other Process Details</label>
        <locationX>270</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedPrimayVerificationContext.verifiedResult.optionalVerifiers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.verifiedResult.optionalVerifiers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalSelectedPrimayVerificationContext.selectedSearchResult.selectedRecordObject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessDetailsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.processDefinition.processDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Process_Details_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Primary_Process_Detail</name>
        <label>Assignment Primary Process Detail</label>
        <locationX>138</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>FinalSelectedPrimayVerificationContext</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Other_Process_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Caller_Object_Name</name>
        <label>Get Caller Object Name</label>
        <locationX>688</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>callerObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Process_Details_List.ObjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FieldReqForValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Process_Details_List.OptionalVerifiersMinVerfCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Process_Details_List.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionFilterGetObjectPrefix</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CollectionFilterGetObjectPrefix</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CollectionFilterGetObjectPrefix</label>
        <locationX>688</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_CollectionFilterGetObjectPrefix</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>IVerfObjectVsPref</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CollectionFilterGetObjectPrefix.Object_Name__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>callerObjectName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_CF_Object_Prefix</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>CollectionFilterGetRecordId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CollectionFilterGetRecordId</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <assignNextValueToReference>currentItem_CollectionFilterGetRecordId</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CallerRecordIdList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CollectionFilterGetRecordId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <elementReference>callerObjectPrefix</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_CF_Record_Id</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Stores the name of the default process detail that&apos;s used for the customer search. Customize the SampleAccountSearch detail. Or create your own detail and enter its name as the constant&apos;s value.</description>
        <name>IdVerfProcessDetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>C1_Verify_Contact</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instruction for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify all the fields.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_IdVerfProcessDefinition_Present</name>
        <label>Is IdVerfProcessDefinition Present</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Verification_Status_as_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IDVerf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdVerfProcessDefinition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Object_Vs_RecordPref</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Object_Prefix_Present</name>
        <label>Is Object Prefix Present</label>
        <locationX>688</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Iterate_Process_Details_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Obj_Prefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>callerObjectPrefix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectionFilterGetRecordId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Process_Detail</name>
        <label>Is Primary Process Detail</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Assignment_Other_Process_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Process_Details_List.SearchSequenceNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Primary_Process_Detail</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Process_Details_Present</name>
        <label>Is Process Details Present</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Verification_Status_as_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Process_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IVerfProcessDetailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Process_Details_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Overridden FSC Verify Customer, to display verification screen</description>
    <environments>Default</environments>
    <formulas>
        <name>AdditionalVerificationInfoFormula</name>
        <dataType>String</dataType>
        <expression>IF({!AdditionalVerificationInfo}=&quot;X&quot;, {!$Label.Additional_Verfication_Info}, {!AdditionalVerificationInfo})</expression>
    </formulas>
    <interviewLabel>Verify Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Customer</label>
    <loops>
        <name>Iterate_CF_Object_Prefix</name>
        <label>Iterate CF Object Prefix</label>
        <locationX>688</locationX>
        <locationY>998</locationY>
        <collectionReference>CollectionFilterGetObjectPrefix</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Caller_Record_Prefix</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Object_Prefix_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_CF_Record_Id</name>
        <label>Iterate CF Record Id</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <collectionReference>CollectionFilterGetRecordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Caller_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Build_Identity_Verification_Context_Concat</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Process_Details</name>
        <label>Iterate Process Details</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <collectionReference>ProcessDetailsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Process_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Process_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Process_Details_List</name>
        <label>Iterate Process Details List</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>IVerfProcessDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Caller_Object_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Process_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the identity verification process detail records with a Identity Verification Process Definition name that matches the value in IdVerfProcessDefinition and stores the record list in Process Details List.</description>
        <name>Get_Identity_Process_Detail_List</name>
        <label>Get Identity Process Detail List</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Process_Details_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IdentityVerificationProcDefId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IVerfProcessDefinition.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IdentityVerificationProcDtl</object>
        <outputReference>IVerfProcessDetailList</outputReference>
        <queriedFields>ObjectName</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>SearchSequenceNumber</queriedFields>
        <queriedFields>OptionalVerifiersMinVerfCount</queriedFields>
        <sortField>SearchSequenceNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Identity_Verification_Id</name>
        <label>Get Identity Verification Id</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Identity_Process_Detail_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </filters>
        <object>IdentityVerificationProcDef</object>
        <outputReference>IVerfProcessDefinition</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Object Name vs Record Id Prefix</description>
        <name>Get_Object_Vs_RecordPref</name>
        <label>Get Object Vs RecordPref</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Identity_Verification_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Identity_Verf_Process_Definition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </filters>
        <object>Identity_Verf_Object_Details__mdt</object>
        <outputReference>IVerfObjectVsPref</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Object_Name__c</queriedFields>
        <queriedFields>Object_Value__c</queriedFields>
        <queriedFields>Identity_Verf_Process_Definition__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Verification_Context</name>
        <label>Error Verification Context</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 54, 54);&quot;&gt;Oops.. Something went wrong. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(237, 54, 54);&quot;&gt;Please try again after sometime&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a list of information the CCA must use for verifying the caller, attempts to verify the caller, and stores the results in the SelectedVerifiedResult, linkedVerificationContext, and VerificationStatus variables.</description>
        <name>ScreenVerifyCallerIdentity</name>
        <label>Verify Caller Identity</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComponentVerifyCallerIdentity</name>
            <extensionName>industries_common:identityVerification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>optionalVerifiersSubtitleLabel</name>
                <value>
                    <elementReference>AdditionalVerificationInfoFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalVerifiersTitleLabel</name>
                <value>
                    <elementReference>AdditionalAuthenticationHeader</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleLabel</name>
                <value>
                    <elementReference>RequiredAuthenticationHeader</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitleLabel</name>
                <value>
                    <elementReference>RequiredVerifiersUserInstruction</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationContext</name>
                <value>
                    <elementReference>FinalSelectedPrimayVerificationContext</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verificationStatus</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedVerifiedResult</assignToReference>
                <name>selectedVerifiedResult</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
                <name>verificationContext</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VerificationStatus</assignToReference>
                <name>verificationStatus</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>setup_se__idv</sourceTemplate>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_IdVerfProcessDefinition_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalAuthenticationHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Verification</stringValue>
        </value>
    </variables>
    <variables>
        <name>AdditionalVerificationInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>X</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the customer initiating the engagement.</description>
        <name>AttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AttendeeRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerAbout</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the customer name to be displayed in ScreenDisplaySuccessMessage or ScreenSecondarySearch.</description>
        <name>CallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the caller&apos;s object passed into the flow.</description>
        <name>callerObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>callerObjectPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the caller passed into the flow.</description>
        <name>callerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRecordIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>003</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores details about the current engagement attendee, including the engagement attendee ID, the engagement interaction record ID, and the initiating attendee ID.</description>
        <name>CurrentEngagementAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementAttendee</objectType>
    </variables>
    <variables>
        <name>currentItem_CollectionFilterGetObjectPrefix</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Identity_Verf_Object_Details__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_CollectionFilterGetRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EngagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EngagementInteractionPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0u3</stringValue>
        </value>
    </variables>
    <variables>
        <name>FieldReqForValidation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FinalProcessDetails</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalSelectedOptionalVerifier</name>
        <apexClass>id_verification__Verifier</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalSelectedPrimayVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalSelectedRequiredVerifiers</name>
        <apexClass>id_verification__Verifier</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HideAuthFlowOption</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the identity verification process definition record. You can customize the SampleVerifiationFlow definition. You can also create your own definition and enter its name in place of SampleVerificationFlow.</description>
        <name>IdVerfProcessDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVerfObjectVsPref</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Identity_Verf_Object_Details__mdt</objectType>
    </variables>
    <variables>
        <name>IVerfProcessDefinition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdentityVerificationProcDef</objectType>
    </variables>
    <variables>
        <name>IVerfProcessDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdentityVerificationProcDtl</objectType>
    </variables>
    <variables>
        <description>Stores the keywords specified by the flow user for the customer search.</description>
        <name>Keywords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the name of the current process detail. If necessary, used to do a secondary identity verification. Default value is Agent.</description>
        <name>LinkedProcessDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProcessDetailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessDetailsList</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessDetailsLoop</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the record.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Required Header Information</description>
        <name>RequiredAuthenticationHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Verification</stringValue>
        </value>
    </variables>
    <variables>
        <name>RequiredAuthenticationInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>X</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedOptionalVerifiers</name>
        <apexClass>id_verification__Verifier</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Apex id_verifiation_VerficationContext record,  containing the verification context found using the keywords and search type for the customer search, which was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>SelectedPrimaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedRequiredVerifiers</name>
        <apexClass>id_verification__Verifier</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores anApex id_verification_SelectedVerifiedResult record, containing the verified result of the primary search.</description>
        <name>SelectedVerifiedResult</name>
        <apexClass>id_verification__SelectedVerifiedResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationProcessFieldList</name>
        <apexClass>id_verification__VerificationProcessField</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the status of the verification.</description>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VoiceCallPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0LQ</stringValue>
        </value>
    </variables>
</Flow>
