force-app/main/default/flows/Verify_Customer_Identity_Flow_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that saves the identity verification information for auditing purposes.  The following information is stored for audit: engagement interaction record name, engagement interaction record ID, initiating attendee ID, verification status, verification details, who the call&apos;s about, and engagement topic.</description>
        <name>StoreAuditInformation</name>
        <label>Store Audit Information</label>
        <locationX>880</locationX>
        <locationY>1382</locationY>
        <actionName>saveMemberVerificationSteps</actionName>
        <actionType>saveMemberVerificationSteps</actionType>
        <connector>
            <targetReference>WasVerificationSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementInteractionRecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>engagementTopic</name>
            <value>
                <elementReference>RadioButtonsCallReasons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initiatingAttendeeId</name>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationContext</name>
            <value>
                <elementReference>SelectedPrimaryVerificationContext</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>verificationStatus</name>
            <value>
                <elementReference>VerificationStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoIsTheCallAbout</name>
            <value>
                <elementReference>RadioButtonsWhoIsCaller</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <description>Stores the choice for address change in ScreenSelectCallReason.</description>
        <name>AddressChangeChoice</name>
        <choiceText>{!AddressChangeChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AddressChangeChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for brand awareness in ScreenSelectCallReason.</description>
        <name>BrandAwarenessChoice</name>
        <choiceText>{!BrandAwarenessChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BrandAwarenessChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for dissatisfied with a product in ScreenSelectCallReason.</description>
        <name>DissatisfiedWithProductChoice</name>
        <choiceText>{!DissatisfiedWithProductChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>DissatisfiedWithProductChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for a miscellaneous reason in ScreenSelectCallReason.</description>
        <name>MiscellaneousReasonChoice</name>
        <choiceText>{!MiscellaneousReasonChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>MiscellaneousReasonChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for password reset in ScreenSelectCallReason.</description>
        <name>PasswordResetChoice</name>
        <choiceText>{!PasswordResetChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PasswordResetChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for request product information in ScreenSelectCallReason.</description>
        <name>RequestProductInfoChoice</name>
        <choiceText>{!RequestProductInfoChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RequestProductInfoChoiceLabel</elementReference>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for caller in ScreenWhoIsTheCallAbout.</description>
        <name>SelfChoice</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for someone else in ScreenWhoIsTheCallAbout.</description>
        <name>SomeoneElseChoice</name>
        <choiceText>Someone Else</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Someone Else</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice for technical issues in ScreenSelectCallReason.</description>
        <name>TechnicalIssuesChoice</name>
        <choiceText>{!TechnicalIssuesChoiceLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>TechnicalIssuesChoiceLabel</elementReference>
        </value>
    </choices>
    <constants>
        <description>Stores the prefix for an account record ID.</description>
        <name>AccountPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the heading for the Additional Verification Information section of ComponentVerifyCallerIdentity.</description>
        <name>AdditionalVerifiersHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instructions for the Additional Verification Information section of ComponentVerifyCallerIdentity.</description>
        <name>AdditionalVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify at least {0} field {1}.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the address change choice.</description>
        <name>AddressChangeChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Address change</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the brand awareness choice.</description>
        <name>BrandAwarenessChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Brand awareness</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsCallReasons screen component.</description>
        <name>CallReasonRadioButtonsLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>What is the reason for this engagement?</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores a Boolean value indicating whether the contact center agent (CCA) can proceed to the next screen when ComponentSearchResults in ScreenSearchResults displays no results, thereby skipping validation.</description>
        <name>CanContinueWithNoSearchResults</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a contact record ID.</description>
        <name>ContactPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the primary message displayed to the user by  ComponentDisplaySecondarySearchMessage on  ScreenDisplaySecondarySearchMessage.</description>
        <name>ContinueToSecondarySearchMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Click Next to search for the linked customer.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the dissatisfied with product choice.</description>
        <name>DissatisfiedWithProductChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissatisfied with product</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for an engagement interaction record ID.</description>
        <name>EngagementInteractionPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0u3</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the name of the default process detail that&apos;s used for the customer search. Customize the SampleAccountSearch detail. Or create your own detail and enter its name as the constant&apos;s value.</description>
        <name>IdVerfProcessDetail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SampleAccountSearch</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a lead record ID.</description>
        <name>LeadPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Q</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a messaging session record ID.</description>
        <name>MessagingSessionPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0Mw</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the miscellaneous reason choice.</description>
        <name>MiscellaneousReasonChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that&apos;s displayed to the flow user when GetEngagementInteraction returns a null record or when anything else goes wrong with GetEngagementInteraction.</description>
        <name>NoRecordFoundMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn&apos;t find a matching engagement interaction record. Try again or ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that&apos;s displayed to the flow user when a record ID isn&apos;t passed into the flow.</description>
        <name>NoRecordMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn&apos;t find that record. Try again or ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the password reset choice.</description>
        <name>PasswordResetChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Password reset</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the request product information choice.</description>
        <name>RequestProductInfoChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request product information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the heading for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersHeading</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Required Verification Information</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the user instruction for the required verifiers section of ComponentVerifyCallerIdentity.</description>
        <name>RequiredVerifiersUserInstruction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify all the fields.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the technical issues choice.</description>
        <name>TechnicalIssuesChoiceLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical issues</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message indicating that the caller’s identity wasn’t verified.</description>
        <name>VerificationFailedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The customer’s identity wasn’t verified. Don&apos;t process this customer’s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the message shown on ScreenDisplayVerificationNotRequiredMessage.</description>
        <name>VerificationNotRequiredMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The selected reason doesn&apos;t require identity verification. Continue to process the customer&apos;s request.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the prefix for a voice call record ID.</description>
        <name>VoiceCallPrefix</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0LQ</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the label for the RadioButtonsWhoIsCaller screen component.</description>
        <name>WhoIsCallerRadioButtonLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Who is this engagement about?</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a record ID was passed into the flow.</description>
        <name>HaveRecordId</name>
        <label>Have Record ID?</label>
        <locationX>921</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayNoRecordMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWhatRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAttendeeVerified_Decision</name>
        <label>IsAttendeeVerified Decision</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ScreenSelectCallReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAttendeeVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Verification_Success</targetReference>
            </connector>
            <label>Yes_Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether there&apos;s an engagement attendee record.</description>
        <name>IsEngagementAttendeePresent</name>
        <label>Is Engagement Attendee Present?</label>
        <locationX>451</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>UpdateEngagementAttendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEngagementAttendee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateEngagementAttendee</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which type of record was passed into the flow in recordId.</description>
        <name>IsWhatRecord</name>
        <label>What Type of Record?</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenSelectCallReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Voice Call (Default)</defaultConnectorLabel>
        <rules>
            <name>HaveEngagementInteractionRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>EngagementInteractionPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEngagementInteraction</targetReference>
            </connector>
            <label>Engagement Interaction</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether verification is required for the selected call reason.</description>
        <name>RequiresVerification</name>
        <label>Requires Verification?</label>
        <locationX>468</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>ScreenWhoIsTheCallAbout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>ValidationNotRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonsCallReasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MiscellaneousReasonChoiceLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayVerificationNotRequiredMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to update the record. Records that are updated must be either an engagement interaction, messaging session, or voice caller record and have a selected primary verification context for either an account or contact record.</description>
        <name>UpdateRecord</name>
        <label>Update Record?</label>
        <locationX>649</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RecordUpdate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>EngagementInteractionPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>VoiceCallPrefix</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>MessagingSessionPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEngagementRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the caller’s identity was verified.</description>
        <name>WasVerificationSuccessful</name>
        <label>Was Verification Successful?</label>
        <locationX>880</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayFailureMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>WasSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Authenticates either the identity of a customer or the identities of a representative and a customer before the customer&apos;s request can be processed by a contact center agent (CCA).</description>
    <environments>Default</environments>
    <interviewLabel>Verify Customer Identity Flow(Custom) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Customer Identity Flow(Custom)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an engagement attendee record and sets the engagement ID to the engagement interaction record ID and the external attendee ID to the selected search result record ID. Stores the result in the Engagement AttendeeId from CreateEngagementAttendee variable.</description>
        <name>CreateEngagementAttendee</name>
        <label>Create Engagement Attendee</label>
        <locationX>319</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>VerificationCompletedScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalAttendeeId</field>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an engagement topic record with the engagement ID, the reason selected in ScreenSelectCallReason, and the selectedRecordId of the SelectedPrimaryVerificationContext&apos;s selectedSearchResult field. Stores the result in the EngagementTopicId from CreateEngagementTopic variable.</description>
        <name>CreateEngagementTopic</name>
        <label>Create Engagement Topic</label>
        <locationX>451</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>IsEngagementAttendeePresent</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RadioButtonsCallReasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedPersonId</field>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementTopic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets an engagement attendee record with an EngagementID that matches the ID of the engagement interaction passed into the flow and that has an ExternalAttendeeId that matches the selectedRecordId of the SelectedPrimaryVerificationContext&apos;s selectedSearchResult field. Stores the ID, EngagementId, and ExternalAttendeeId of the result in the CurrentEngagementAttendee record variable.</description>
        <name>GetEngagementAttendee</name>
        <label>Get Engagement Attendee</label>
        <locationX>451</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateEngagementTopic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalAttendeeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPrimaryVerificationContext.selectedSearchResult.selectedRecordId</elementReference>
            </value>
        </filters>
        <object>EngagementAttendee</object>
        <outputReference>CurrentEngagementAttendee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EngagementId</queriedFields>
        <queriedFields>ExternalAttendeeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the engagement interaction record that was passed into the flow and stores initiating attendee ID field in the AttendeeId variable.</description>
        <name>GetEngagementInteraction</name>
        <label>Get Engagement Interaction</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAttendeeVerified_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenDisplayNoRecordFoundMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>EngagementInteraction</object>
        <outputAssignments>
            <assignToReference>AttendeeId</assignToReference>
            <field>InitiatingAttendeeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsAttendeeVerified</assignToReference>
            <field>IsAttendeeVerified</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the IsVerified field to true and the VerificationTime field to the current date and time for the engagement record with an ID matching the engagement attendee ID in the CurrentEngagementAttendee record variable.</description>
        <name>UpdateEngagementAttendee</name>
        <label>Update Engagement Attendee</label>
        <locationX>583</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>VerificationCompletedScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEngagementAttendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>EngagementAttendee</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates  engagementInteraction record fields. Sets IsAttendeeVerified to true, InitiatingAttendeeId to the selectedRecordId of the selectedPrimaryVerificationContext&apos;s selectedSearchResult field, and AttendeeVerificationTime to the current date and time.</description>
        <name>UpdateEngagementRecord</name>
        <label>Update Engagement Record</label>
        <locationX>451</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>GetEngagementAttendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendeeVerificationTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAttendeeVerified</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>EngagementInteraction</object>
    </recordUpdates>
    <screens>
        <description>Displays a message to the user indicating that the caller’s identity wasn’t verified.</description>
        <name>ScreenDisplayFailureMessage</name>
        <label>Display Failure Message</label>
        <locationX>1111</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showIDVErrorMsg</name>
            <extensionName>industries_common:idvFlowCompletion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isVerificationFailError</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VerificationFailedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!VerificationFailedMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user.</description>
        <name>ScreenDisplayNoRecordFoundMessage</name>
        <label>Display No Record Found Message</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordFoundDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!&lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;NoRecordFoundMessage&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the user indicating that a record ID wasn&apos;t passed into the flow.</description>
        <name>ScreenDisplayNoRecordMessage</name>
        <label>Display No Record Message</label>
        <locationX>1375</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;{!NoRecordMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Informs the flow user that verification isn&apos;t required for the selected call reason.</description>
        <name>ScreenDisplayVerificationNotRequiredMessage</name>
        <label>Display Verification Not Required Message</label>
        <locationX>55</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VerificationNotRequiredDisplayText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;{!VerificationNotRequiredMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the reason for the call.</description>
        <name>ScreenSelectCallReason</name>
        <label>Select Call Reason</label>
        <locationX>468</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RequiresVerification</targetReference>
        </connector>
        <fields>
            <name>RadioButtonsCallReasons</name>
            <choiceReferences>BrandAwarenessChoice</choiceReferences>
            <choiceReferences>AddressChangeChoice</choiceReferences>
            <choiceReferences>PasswordResetChoice</choiceReferences>
            <choiceReferences>TechnicalIssuesChoice</choiceReferences>
            <choiceReferences>DissatisfiedWithProductChoice</choiceReferences>
            <choiceReferences>RequestProductInfoChoice</choiceReferences>
            <choiceReferences>MiscellaneousReasonChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!CallReasonRadioButtonsLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the person the call is about.</description>
        <name>ScreenWhoIsTheCallAbout</name>
        <label>Who’s the Call About?</label>
        <locationX>880</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Identity_Verification_Screen</targetReference>
        </connector>
        <fields>
            <name>RadioButtonsWhoIsCaller</name>
            <choiceReferences>SelfChoice</choiceReferences>
            <choiceReferences>SomeoneElseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!WhoIsCallerRadioButtonLabel}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Verification_Success</name>
        <label>Show Verification Success</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageDisplayerAlreadyCompleted</name>
            <extensionName>c:messageDisplayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Verification Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VerificationCompletedScreen</name>
        <label>VerificationCompletedScreen</label>
        <locationX>451</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VerificationCompletedMessage</name>
            <extensionName>c:messageDisplayer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Verification Completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_se__idv</sourceTemplate>
    <start>
        <locationX>795</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Customer_Identity_Verification_Screen</name>
        <label>Customer Identity Verification</label>
        <locationX>880</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>StoreAuditInformation</targetReference>
        </connector>
        <flowName>Customer_Identity_Verification_Flow</flowName>
        <inputAssignments>
            <name>AdditionalSectionHeader</name>
            <value>
                <elementReference>AdditionalVerifiersHeading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdVerfProcessDefinition</name>
            <value>
                <elementReference>IdVerfProcessDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>AttendeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RequiredSectionHeader</name>
            <value>
                <elementReference>RequiredVerifiersHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPrimaryVerificationContext</assignToReference>
            <name>SelectedPrimaryVerificationContext</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VerificationStatus</assignToReference>
            <name>VerificationStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AdditionalSectionHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the customer initiating the engagement.</description>
        <name>AttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the customer name to be displayed in ScreenDisplaySuccessMessage or ScreenSecondarySearch.</description>
        <name>CallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the caller&apos;s object passed into the flow.</description>
        <name>callerObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the caller passed into the flow.</description>
        <name>callerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores details about the current engagement attendee, including the ID, EngagementId, and the ExternalAttendeeId of the customer or the customer&apos;s representative who initiated the interaction.</description>
        <name>CurrentEngagementAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementAttendee</objectType>
    </variables>
    <variables>
        <name>EngagementInteraction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EngagementInteraction</objectType>
    </variables>
    <variables>
        <description>Stores a Boolean value indicating whether search results were found. It&apos;s set to True if search results are returned by ComponentSearchResults in ScreenSearchResults.</description>
        <name>HasSearchResults</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the name of the identity verification process definition record. You can customize the SampleVerifiationFlow definition. You can also create your own definition and enter its name in place of SampleVerificationFlow.</description>
        <name>IdVerfProcessDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SampleVerificationFlow</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsAttendeeVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the keywords specified by the flow user for the customer search.</description>
        <name>Keywords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LinkedCallerIdentityVerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the name of the current process detail. If necessary, used to do a secondary identity verification. Default value is Agent.</description>
        <name>LinkedProcessDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_ProcessDetail records, containing a list of process details used for verification.</description>
        <name>ProcessDetailCollection</name>
        <apexClass>id_verification__ProcessDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the record.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredSectionHeader</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the search type selected by the flow user for the customer search.</description>
        <name>SearchType</name>
        <apexClass>id_verification__SearchFilters</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an Apex id_verification_VerificationContext record, containing the secondary verification context that was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>SecondaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryVerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Apex id_verification_VerficationContext record, containing the verification context found using the keywords and search type for the customer search, which was passed into the flow. This variable is also available to the calling flow as an output.</description>
        <name>SelectedPrimaryVerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores anApex id_verification_SelectedVerifiedResult record, containing the verified result of the primary search.</description>
        <name>SelectedVerifiedResult</name>
        <apexClass>id_verification__SelectedVerifiedResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the identity verification context for the caller using the specified identity verification process definition.</description>
        <name>VerificationContext</name>
        <apexClass>id_verification__VerificationContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of times identity verification has been attempted.</description>
        <name>VerificationRetryCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the status of the verification.</description>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a collection of Apex id_verification_VerifiedDetails records, containing a list of process details that were used to verify the SelectedVerifiedResult.</description>
        <name>VerifiedDetailsCollection</name>
        <apexClass>id_verification__VerifiedDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
